* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

/* 
   Main container
*/

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

div.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-areas: "settings main" "info main";
}

/*
  Overlay
*/

#overlay {
    border-radius: 5px;
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: auto;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    color: #eee;
    padding: 2rem;
}

#overlay-title {
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 2rem;
}

#overlay-text {
    margin-bottom: 1rem;
}

.overlay-code {
    font-family: monospace;
    font-size: 1rem;
    margin: 1rem 0.5rem;
}

#overlay-options {
    margin-top: 1rem;
    display: flex;
    flex-flow: row;
}

/* 
   Info area (bottom left)
*/

div.info {
    grid-area: info;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    padding: 1rem;
    background-color: #444;
    color: #999;
    font-size: 0.8rem;
    line-height: 1rem;
}

div.info a, div.info a:visited {
    color: #999;
}

div.info-section {
    margin-top: 1rem;
}

/* 
   Main window (transcript section)
*/

div.main {
    grid-area: main;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

div.transcript-functions {
    margin-top: 0.5rem;
    padding: 0rem 1.5rem;
    display: flex;
    flex-flow: row nowrap;
    min-width: 600px;
    justify-content: flex-start;
    align-items: flex-end;
}

#container-audio-file {
    margin: 0;
    height: 35px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #eee;
}

.svg-transcript-function {
    margin: 0 0 0 4px;
    padding: 5px;
    width: 40px;
    height: 35px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #eee;
}

#container-audio-file {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-right: 1rem;
    color: #6565d6;
}

#container-audio-file:hover {
    cursor: pointer;
}

.svg-transcript-function:hover {
    cursor: pointer;
}

.svg-transcript-function path, .svg-transcript-function rect, .svg-transcript-function circle {
    fill: #6565d6;
    stroke: #6565d6;
    stroke-width: 25px;
}

.svg-transcript-function:hover path, .svg-transcript-function:hover rect, .svg-transcript-function:hover circle {
    fill: #444;
    stroke: #444;
    color: #444;
}

.text-transcript {
    flex: 1 1 auto;
    justify-self: stretch;
    background-color: #eee;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 1.3rem;
    margin: 0 1.5rem;
    padding: 1.5rem;
    font-size: 0.95rem;
    font-family: inherit;
    overflow-y: scroll;
    resize: vertical;
    scrollbar-color: #444 #eee;
}

div.error-message {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 2.5rem;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 350px;
    opacity: 0.9;
    background-color: #e88c03;
    color: #fff;
}

/* 
   Audio controls (bottom right)
*/

audio {
    width: 100%;
}

.audio-container {
    padding: 0.5rem 1.5rem;
    flex-shrink: 0;
    justify-self: flex-end;
    position: sticky;
    bottom: 0px;
}

/* 
   Logo (top left)
*/

.logo {
    grid-column: 2;
    justify-self: left;
    width: 70px;
    height: 70px;
}

.logo path {
    fill: #fff;
}

/* 
   Settings (left)
*/

div.left {
    grid-area: settings;
    padding: 1rem;
    background-color: #444;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem;
    align-items: center;
    grid-auto-rows: min-content;
    color: #fff;
    font-size: 0.9rem;
}

.setting-label {
    grid-column: 1;
    justify-self: end;
    text-align: right;
}

.setting {
    grid-column: 2;
    justify-self: start;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem;
}

.setting-text {
    color: #999;
}

input[type="number"] {
    width: 4rem;
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

input[type="range"] {
    background: #d3d3d3;
}

input[type="file"] {
    display: none;
}

/* 
   Buttons
*/

.button {
    flex: 0 0 auto;
    height: 2rem;
    min-width: 3rem;
    text-align: center;
    border: 1px solid #6565d6;
    background-color: #6565d6;
    margin: 0 2px;
    color: #fff;
    padding: 0 0.5rem;
    font-size: 0.9rem;
    border-radius: 3px;
}

.button:hover {
    background-color: #fff;
    color: #6565d6;
    cursor: pointer;
}

label.button {
    display: flex;
    align-items: center;
}

.button:disabled {
    cursor: default;
    color: #777;
    border: 1px solid #777;
    background-color: #999;
}