* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* 
   Main container
*/
html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

div.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-areas: 
        "settings main"
        "info main";
}



/* 
   Info area (bottom left)
*/
div.info {
    grid-area: info;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    padding: 1rem;
    background-color: #444;
    color: #999;
    font-size: 0.8rem;
    line-height: 1rem;
}

div.info a, div.info a:visited {
    color: #999;
}

div.info-section {
    margin-top: 1rem;
}



/* 
   Main window (transcript section)
*/
div.main {
    grid-area: main;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

div.transcript-functions {
    margin-top:0.5rem;
    padding: 0rem 1.5rem;
    display: flex;
    flex-flow: row;
    justify-items: flex-end;
}

#label-file {
    flex: 0 0 auto;
    color: #3b9802;
    margin-left: auto;
    align-self: center;
}

.text-transcript {
    flex: 1 1 auto;
    justify-self: stretch;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    line-height: 1.3rem;
    margin: 0.5rem 1.5rem;
    padding: 1.5rem;
    font-size: 0.95rem;
    font-family: inherit;
    overflow-y: scroll;
    resize: vertical;
}

div.error-message {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 2.5rem;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 350px;
    opacity: 0.9;
    background-color: #e88c03;
    color: #fff;
}



/* 
   Audio controls (bottom right)
*/

audio {
    width: 100%;
}

.audio-container {
    padding: 0.5rem 1.5rem;
    flex-shrink: 0;
    justify-self: flex-end;
    position: sticky;
    bottom: 0px;
}



/* 
   Logo (top left)
*/
.logo {
    grid-column: 2;
    justify-self: left;
    width: 70px;
    height: 70px;
}

.logo path {
    fill: #fff;
}



/* 
   Settings (left)
*/
div.left {
    grid-area: settings;
    padding: 1rem;
    background-color: #444;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem;
    align-items: center;
    grid-auto-rows: min-content;
    color: #fff;
    font-size: 0.9rem;
}

.setting-label {
    grid-column: 1;
    justify-self: end;
    text-align: right;
}

.setting {
    grid-column: 2;
    justify-self: start;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem;
}

input[type="number"] {
    width: 4rem;
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

input[type="range"] {
    background: #d3d3d3;
}

input[type="file"] {
    display: none;
}


/* 
   Buttons
*/
.button {
    flex: 0 0 auto;
    height: 2rem;
    text-align: center;
    border: 1px solid #8183cd;
    background-color: #8183cd;
    margin: 0 2px;
    color: #fff;
    padding: 0 0.5rem;
    font-size: 0.9rem;
    border-radius: 3px;
}

.button:hover {
    background-color: #fff;
    color: #8183cd;
    cursor: pointer;
}

.btn-important {
    background-color: #4bbf03;
    border-color: #4bbf03;
}

.btn-important:hover {
    background-color: white;
    border-color: #4bbf03;
    color: #4bbf03;
}

label.button {
    display: flex;
    align-items: center;
}

.button:disabled {
    cursor: default;
    color: #777;
    border: 1px solid #777;
    background-color: #999;
}
